/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'The Seasons';
    src: url('/fonts/The\ Seasons\ Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

